#header-mastok {
  position: fixed;
  width: 100%;
  height: 300px;
  background-color: bisque;
  top: 0px;
  left:40vh;
}

#header-small {
  position: fixed;
  width: 100%;
  height: 200px;
  background-color: rgb(19, 199, 184);
  top: 0px;
  left:40vh;
}

#height {
  position: fixed;
  top:vh;
  left:5vh;
}

#container {
  min-height:200vh;
}